*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# En esta carpeta específica, excluir TODOS los .kt...
app/src/main/java/org/utl/reddeseguridadvecinal/*.kt

# ...PERO INCLUIR solo estos archivos específicos:
!app/src/main/java/org/utl/reddeseguridadvecinal/Solicitar_servicio.kt
!app/src/main/java/org/utl/reddeseguridadvecinal/Solicitar_recinto.kt
!app/src/main/java/org/utl/reddeseguridadvecinal/Pagos_Servicios.kt
!app/src/main/java/org/utl/reddeseguridadvecinal/Pagar.kt
!app/src/main/java/org/utl/reddeseguridadvecinal/Historial_servicios.kt
!app/src/main/java/org/utl/reddeseguridadvecinal/Historial_recinto.kt

# En la carpeta layout, excluir TODOS los XML...
app/src/main/res/layout/*.xml

# ...PERO INCLUIR solo estos archivos específicos:
!app/src/main/res/layout/activity_solicitar_servicio.xml
!app/src/main/res/layout/activity_solicitar_recinto.xml
!app/src/main/res/layout/activity_pagos_servicios.xml
!app/src/main/res/layout/activity_pagar.xml
!app/src/main/res/layout/activity_historial_servicios.xml
!app/src/main/res/layout/activity_historial_recinto.xml
!app/src/main/res/layout/modal_confirmar.xml
!app/src/main/res/layout/modal_incoveniente.xml
!app/src/main/res/layout/modal_emergencia.xml
!app/src/main/res/layout/nav_drawer_content.xml