*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

app/google-services.json

# Excluir todos los .kt de la carpeta
app/src/main/java/org/utl/reddeseguridadvecinal/*.kt

# solo se suben estos .kt
!app/src/main/java/org/utl/reddeseguridadvecinal/Perfil.kt
!app/src/main/java/org/utl/reddeseguridadvecinal/Login.kt

# Excluir todos los .xml de la carpeta
app/src/main/res/layout/*.xml

# solo se suben estos .xml
!app/src/main/res/layout/activity_perfil.xml
!app/src/main/res/layout/activity_login.xml
!app/src/main/res/layout/modal_confirmar.xml
!app/src/main/res/layout/modal_error.xml
!app/src/main/res/layout/modal_incoveniente.xml
!app/src/main/res/layout/modal_emergencia.xml
!app/src/main/res/layout/nav_drawer_content.xml